.contentpai {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 250vh;
}


.container {
    background-color: rgb(255, 255, 255);
    max-width: 1200px;
}

.p1 {
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    display: flex;
    height: 500px;
}

.texto {
    background-color: rgb(255, 255, 255);
    width: 50%;
    padding: 50px;
    text-align: center;
}

.texto h2 {
    text-align: center;
}

.texto p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    max-width: 500px;
    padding-left: 20px;
}

.img {
    width: 50%;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    display: flex;
    justify-content: center;

}

.img img {
    width: 80%;
    height: 80%;
    padding-top: 50px;
}

.faxa {
    background-color: rgb(173, 173, 173);
    height: 100px;
    margin-top: 100px;
}

.projetosfotos {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns:
        repeat(3, auto);
    height: 600px;
    margin-top: 100px;
}

.proj1 {
    background-color: rgb(255, 255, 255);
    width: 400px;
    display: flex;
    justify-content: center;
}




.proj2 {
    width: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.proj3 {
    background-color: rgb(255, 255, 255);
    width: 400px;
    display: flex;
    justify-content: center;
}


.proj1 img,
.proj2 img,
.proj3 img {
    width: 90%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;

}

.proj1 img:active,
.proj2 img:active,
.proj3 img:active {
    transform: scale(0.95);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.proj1 img:hover,
.proj2 img:hover,
.proj3 img:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.botao-imagem {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
   
}

.botao-imagem img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.botao-imagem:hover {
    opacity: 0.8;
}